.search-form {
  display: flex;
  background-color: rgba(12, 212, 185, 0.829);
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  justify-content: center;
  align-items: center;
}
input {
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2 3px 5px rgb(0 0 0 / 50%);
}
button {
  height: 40px;
  background-color: #def70486;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2 3px 5px rgb(0 0 0 / 50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #dff704c4;
    color: #a19f9f;
  }
}
